<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
  <ul>
    <% @doses.each do |dose| %>
      <% ingredient = Ingredient.find(dose.ingredient_id) %>
      <li><%=dose.description%> <%= ingredient.name%></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail) %> |
<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
